{{ define "temperature" }}
<div id="{{ .Id }}-temperature" class="mx-1">
    <p>{{ .FloatValue }}˚C</p>
</div>
{{ end }}

{{ define "humidity" }}
<div id="{{ .Id }}-humidity" class="mx-1">
    <p>{{ .FloatValue }}%</p>
</div>
{{ end }}

{{ define "notificationContact" }}
<div id="{{ .Id }}" class="mx-1">
    {{ if .BoolValue }}
    <p><i class="bi-door-open-fill text-red-500"></i></p>
    {{ else }}
    <p><i class="bi-door-closed-fill text-green-500"></i></p>
    {{ end }}
</div>
{{ end }}

{{ define "notificationPushButton" }}
<div id="{{ .Id }}" class="mx-1">
    {{ if .BoolValue }}
    <p title="{{ .Time }}"><time datetime="{{ .Time }}"><i class="bi-bell-fill text-yellow-500"></time></i></p>
    {{ else }}
    <p><i class="bi-bell"></i></p>
    {{ end }}
</div>
{{ end }}

{{ define "clock" }}
<div id="time" hx-swap-oob="true">
    {{ if eq "time.Time" (printf "%T" .) }}
    <p>{{ .Local.Format "15:04" }}</p>
    {{ else }}
    <p>{{ .StringValue }}</p>
    {{ end }}
</div>
{{ end }}

{{ define "sun" }}
<div id="sun" hx-swap-oob="true">
    {{ if eq .StringValue "sunsetStart" }}
    <i class="bi-sunset-fill"></i>
    {{ else if eq .StringValue "down" }}
    <i class="bi-moon-fill"></i>
    {{ else if eq .StringValue "sunriseStart" }}
    <i class="bi-sunrise-fill"></i>
    {{ else if eq .StringValue "sunriseEnd" }}
    <i class="bi-sun-fill"></i>
    {{ end }}
</div>
{{ end }}
