{{ define "title" }}Rooms{{ end }}

{{ define "header" }}
<h1 class="text-4xl">Rooms</h1>
{{ end }}

{{ define "content" }}
<div hx-ext="ws" ws-connect="/ws">
    <div class="grid grid-cols-3 gap-4">
        {{ range .rooms }}
        <div class="h-48" style="{{ if .BackgroundImage }}background-image: url({{ .BackgroundImage }}); background-size: contain;{{ end }}">
            <header class="flex justify-between bg-black bg-opacity-60 p-4 text-white">
                <div>
                    <h2 class="text-2xl">{{ .Name }}</h2>
                </div>
                <div class="flex">
                {{ range .Nodes }}
                    {{ if has .Capabilities "temperature" }}
                        {{ template "temperature" .LastEvents.temperature }}
                    {{ end }}
                    {{ if has .Capabilities "humidity" }}
                        {{ template "humidity" .LastEvents.humidity }}
                    {{ end }}
                    {{ if has .Capabilities "notificationContact" }}
                        {{ template "notificationContact" .LastEvents.notificationContact }}
                    {{ end }}
                    {{ if has .Capabilities "notificationPushButton" }}
                        {{ template "notificationPushButton" .LastEvents.notificationPushButton }}
                    {{ end }}
                {{ end }}
                </div>
            </header>
            <div>
            </div>
        </div>
        {{ end }}
    </div>
</div>
{{ end }}
