{{ define "temperature" }}
<div id="{{ .Id }}-temperature">
    <p>{{ .FloatValue }}˚C</p>
</div>
{{ end }}

{{ define "humidity" }}
<div id="{{ .Id }}-humidity">
    <p>{{ .FloatValue }}%</p>
</div>
{{ end }}

{{ define "notificationContact" }}
<div id="{{ .Id }}">
    {{ if .BoolValue }}
    <p><i class="bi-door-open-fill"></i></p>
    {{ else }}
    <p><i class="bi-door-closed-fill"></i></p>
    {{ end }}
</div>
{{ end }}

{{ define "clock" }}
<div id="time" hx-swap-oob="true">
    <p>{{ .StringValue }}</p>
</div>
{{ end }}
