{{ define "title" }}Rooms{{ end }}

{{ define "header" }}
<h1 class="text-4xl">Rooms</h1>
{{ end }}

{{ define "passivenode" }}
<div class="inline-block" id="{{ .Id }}" data-node-id="{{ .Id }}">
    {{ if has .Capabilities "temperature" }}
        <div id="{{ .Id }}-temperature" class="temperature">
            <p>{{ .LastEvents.temperature.Value }}˚C</p>
        </div>
    {{ end }}

    {{ if has .Capabilities "humidity" }}
        <div id="{{ .Id }}-humidity" class="humidity">
            <p>{{ .LastEvents.humidity.Value }}%</p>
        </div>
    {{ end }}

    {{ if has .Capabilities "notificationContact" }}
        <div id="{{ .Id }}" class="door">
            <p>
            <i data-open="{{ .LastEvents.notificationContact.Value }}" class="data-[open=false]:bi-door-closed-fill"></i>
            </p>
        </div>
    {{ end }}
</div>
{{ end }}

{{ define "content" }}
<div hx-ext="ws" ws-connect="/ws">
    <div id="time">
        <p>The time should go here</p>
    </div>
    <div class="grid grid-cols-3 gap-4">
        {{ range . }}
        <div class="h-48" style="{{ if .BackgroundImage }}background-image: url({{ .BackgroundImage }}); background-size: contain;{{ end }}">
            <header class="flex justify-between bg-black bg-opacity-60 p-4 text-white">
                <div>
                    <h2 class="text-2xl">{{ .Name }}</h2>
                </div>
                <div>
                {{ range .Nodes }}
                    {{ template "passivenode" . }}
                {{ end }}
                </div>
            </header>
            <div>
            </div>
        </div>
        {{ end }}
    </div>
</div>
{{ end }}
